data/
weights/
!weights/best_classifier.hdf5
!weights/best_extractor.hdf5
.git
#weights/extractor/
#weights/classifier/
#weights/models/
img/
computeroot/
webroot/
local_test/
./*.sh
chessvision/notebooks/
