__pycache__
.ipynb_checkpoints
.vscode
*.py.class
*.pyc
.DS_Store
.env
env

weights/*
logs/*
*.log

data/new_raw/
.notes.txt
data/raw/*
data/.DS_Store
#data/squares
computeroot/user_uploads/*
#data/board_extraction
data/user_uploads/*
