cv_env_38/
**/__pycache__
.vscode/
*.hdf5
*.log
bucket/
bucket*/
.env
data/new_raw_resized/
data/new_boards/
data/new_squares/
data/new_raw/
data/new_test/
bucket_/
ml/notebooks/reports/*.html
!ml/notebooks/reports/best_report.html
**/.ipynb_checkpoints
wandb/
logs/
lightly_outputs/
data/quilt_revisions
computeroot/user_uploads
dist/
*.egg-info