opencv-python==3.4.8.29
tensorflow==2.9.3
flask==2.2
quilt
boto3
python-chess==1.9.4
papermill
imbalanced-learn
matplotlib==3.7.1
protobuf==3.20.1
wandb
aquariumlearning
setuptools
cairosvg
pipwin
#pipwin install cairocffi
ipython
ipykernel
cleanlab-studio