<html>
    <head>
        <title>ChessVision</title>
        <meta charset="UTF8" />
        <meta name="author" content="Gudbrand Tandberg" />
        <meta name="description" content="Extract chessboards free online" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/chessboard-0.3.0.css" />
        <link rel="stylesheet" href="static/css/main.css" />
    </head>
    <body>
        
        <h1>Welcome to ChessVision {{x}}</h1>
        <span id="endpoint" style="display: none">{{endpoint}}</span>
        <form id="upload-form" enctype="multipart/form-data">
            <input id="image-input" type="file" name="file" accept="image/*">
            <input id="reversed-input" type="checkbox" name="reversed"> Reversed <br>
            <input type="radio" name="move" value="white" checked> White to move
            <input type="radio" name="move" value="black"> Black to move <br>
            <input type="submit">
            <!--<input type="button" name="submit" value="Submit" onclick="submitForm()">-->
        </form>
        
        <div id="container" style="width: 900px; overflow: hidden;">
            <div id="board" style="width: 400px; float: left"></div>¨
            <img alt="Placeholder" id="input-preview" src="#" width="400">
        </div>
        
        <div id="feedback-pane" style="display: none">
            <p>Please provide feedback:</p>
            <form method="POST" id="feedback-form">
                <input type="radio" name="feedback" value="correct" checked> Correct <br>
                <input type="radio" name="feedback" value="incorrect"> Incorrect <br>
                <input type="text" name="id" value="" id="raw-id-input" style="display: none;">
                <input type="submit">
            </form>
        </div>

        <!--        SCRIPTS             -->
        <script src="static/js/json3.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="static/js/chessboard-0.3.0.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>