body {
    background-color: tan;
    color: black;
}

#wrapper {
    max-width: 500px;
    margin: 0 auto;
}

#header-wrapper {
    margin-left: 20px;
}

#board-container {
    width: 100%;
    /*border: solid 2px black;*/
    margin-bottom: 15px;
}

#board {
    width: 100%;
}

#preview-container {
    /*width: 400px;
    height: 400px;*/
    padding: 10px;
}

#image-preview {
    /*rotate: 90; 
    overflow: hidden; */
    max-width: 100%;

    /*image-orientation: from-image;*/
}

#logo {
    height: 64px;
}

.row {
    margin-bottom: 10px;
}